/* 기본 텍스트 스타일 */
.member_txt {font-size:12px;font-family:굴림,돋움;color:#333333}
.join_txt {font-size:11px;font-family:굴림,돋움;color:#666666}
/* 텍스트박스 스타일 */
.member_border {font-size:12px;font-family:굴림,돋움;color:#333333;border:1 solid #D4D4D4}
/* 항목 스타일 */
.member_td_bgcolor {background-color:#F7F7F7;font-size:12px;font-family:굴림,돋움;color:#000000;}
/* 회원 주민등록번호/여권번호/외국인등록번호/법인번호 확인 스타일 */
ul.member_list {margin:10px 0 0 0;}
ul.member_list li {margin:0 0 15px 0;}
ul.member_list li input {margin:-2px 0 0 0; vertical-align:middle;}
.member_divide {width:100%; font-size:12px; border-top:1px solid #cecece; border-bottom:1px solid #cecece;}
.member_divide th {padding:7px 10px 6px 10px; color:#555; border-right:1px solid #e2e2e2; border-bottom:1px solid #e2e2e2; background:#f7f7f7;}
.member_divide td {padding:5px 10px 4px 10px; border-right:1px solid #e2e2e2; border-bottom:1px solid #e2e2e2;}
.member_divide td.member_list_bg {color:#555; background:#f7f7f7;}
.member_divide td.member_cont {height:170px; padding:15px 10px; vertical-align:top; border-right:none; border-bottom:none;}
.member_info {}
.member_info dl {}
.member_info dt {clear:both; float:left; width:100px; height:13px; margin:0 0 5px 0; padding:4px 0 0 0;}
.member_info dt input {margin:-2px 0 0 0; vertical-align:middle;}
.member_info dt.foreigner_info {width:220px; margin:0;}
.member_info dd {margin:0 0 5px 0;}
.member_info dd.foreigner_info2 {float:left; margin:2px 0 0 0;}
.login_box { border:1px #ebebeb solid; padding:40px 140px; text-align:center; margin-top:20px; font:12px/1.5em dotum; color:#555; }
.login_box .txt_01 { text-align:right; padding-right:10px; font:bold 12px/1.0em dotum; }
.login_box .box { border:1px #cdcdcd solid; padding:2px 4px 0; height:19px; *height:21px; width:100%; background-color:#f6f6f6; }
.login_box .find { border-top:1px #eaeaea solid; margin-top:25px; padding:25px 44px 0; text-align:right; font:11px/1.2em dotum; color:#777; }