@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,700');
/*
 * Spoqa Han Sans
*/
/**
 * Copyright (c) 2015 Spoqa, Inc.
 *
 * Permission is hereby granted, free of charge, to any person obtaining
 * a copy of this software and associated documentation files (the
 * "Software"), to deal in the Software without restriction, including
 * without limitation the rights to use, copy, modify, merge, publish,
 * distribute, sublicense, and/or sell copies of the Software, and to
 * permit persons to whom the Software is furnished to do so, subject to
 * the following conditions:
 *
 * The above copyright notice and this permission notice shall be
 * included in all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 * EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
 * MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 * NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
 * LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
 * OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
 * WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 */

 @font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 700;
    src: local('Spoqa Han Sans Bold'),
    url('../fonts/Spoqa Han Sans Bold.woff2') format('woff2'),
    url('../fonts/Spoqa Han Sans Bold.woff') format('woff'),
    url('../fonts/Spoqa Han Sans Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 400;
    src: local('Spoqa Han Sans Regular'),
    url('../fonts/Spoqa Han Sans Regular.woff2') format('woff2'),
    url('../fonts/Spoqa Han Sans Regular.woff') format('woff'),
    url('../fonts/Spoqa Han Sans Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 300;
    src: local('Spoqa Han Sans Light'),
    url('../fonts/Spoqa Han Sans Light.woff2') format('woff2'),
    url('../fonts/Spoqa Han Sans Light.woff') format('woff'),
    url('../fonts/Spoqa Han Sans Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 100;
    src: local('Spoqa Han Sans Thin'),
    url('../fonts/Spoqa Han Sans Thin.woff2') format('woff2'),
    url('../fonts/Spoqa Han Sans Thin.woff') format('woff'),
    url('../fonts/Spoqa Han Sans Thin.ttf') format('truetype');
}