@charset "utf-8";
/*
 * Name     : general.css
 * Version  : 1.0.4
 * Author   : onepixel studio
 * Date     : 2020-05-10
 ---------------------------------------------------
 Table of contents
 ---------------------------------------------------
    01. general settings
    02. font settings
---------------------------------------------------
*/

/* ------------------------------
 * general settings
------------------------------ */
* {
	box-sizing: border-box
}

*:before, *:after {
	box-sizing: border-box
}

::selection {
	color: #fff;
	background-color: #653811
}

html, body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 1.42857143;
	word-break: keep-all
}

html {
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none
}

body {
    font-family:'Spoqa Han Sans',sans-serif;
	letter-spacing: -0.3px;
	overflow-x: hidden
}

ul, ol, dl, dt, dd, p, h1, h2, h3, h4, h5, h6 {
	margin:0;
	padding:0;
	list-style:none
}

a {
	color: #333;
	text-decoration: none
}

a:hover, a:active, a:focus {
	text-decoration: none !important;
	outline: none !important
}

button, input, select, textarea {
    font: inherit;
    vertical-align: middle
}

input[type=text], input[type=password] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

img {
	max-width: 100%;
	border: 0;
	vertical-align: middle
}

form, fieldset {
	margin: 0;
	padding: 0;
	border: none
}

legend, caption {
	display: none !important
}

table {
	border-spacing: 0;
	border-collapse: collapse
}

hr {margin:80px 0 !important; border-color:#e9e9e9}
hr.empty-line {margin:30px 0 !important; border:none}

.clearfix:before, .clearfix:after {
	content: "";
	display: block
}

.clearfix:after {
	clear: both
}

.clear {
	clear: both
}

.position-relative {
	position: relative
}

.float-left {
	float: left
}

.float-right {
	float: right
}

.overflow-hidden {
	overflow: hidden
}

/* ------------------------------
 * fonts
------------------------------ */
*[lang='en'] {font-family:'Titillium Web','Spoqa Han Sans',sans-serif; letter-spacing:2px}