@charset "utf-8";
/*
 * Name     : style_hero_v2.css
 * Version  : 1.0.4
 * Author   : onepixel studio
 * Date     : 2020-05-10
 ---------------------------------------------------
 Table of contents
 ---------------------------------------------------
    01. main hero
    02. media queries
---------------------------------------------------
 * 본 파일은 메인 롤링이미지 버전 2를 적용하기 위한 부분 스타일시트입니다.
 * 기존의 메인비주얼 방식이 아닌, PC - 모바일 이미지 별도 사용하는 버전으로 적용시 본 스타일 시트 내의 비주얼 소스 부분을 기존 style.css 내의 메인비주얼 CSS에 덮어쓰면 됩니다.
*/

/* ------------------------------
 * main hero
------------------------------ */
#main-hero:before {content:''; position:absolute; top:0; left:0; width:100%; height:100%; background-color:#e9e9e9; z-index:5; transition:opacity 0.3s, visibility 0.3s}
#main-hero:after {content:''; position:absolute; top:50%; left:50%; width:60px; height:60px; margin:-30px 0 0 -30px; border:3px solid rgba(0,0,0,0.15); border-left-color:#653811; border-radius:50%; z-index:8; transition:opacity 0.3s, visibility 0.3s; animation:slider-load 1.2s infinite linear}
#main-hero.slick-initialized:before, #main-hero.slick-initialized:after {opacity:0; visibility:hidden}
@keyframes slider-load {
    from {transform:rotate(0deg)}
    to {transform:rotate(1turn)}
}
#main-hero .slick-list, #main-hero .slick-track {height:100%}
#main-hero .slide-item {background-size:cover; background-repeat:no-repeat; background-position:50% 50%}
#main-hero .slide-item {position:relative; z-index:5; outline:0}
#main-hero .slide-item:before {content:''; position:absolute; display:block; top:0; left:0; bottom:0; right:0; background-color:#000; opacity:0.3; z-index:-1}
#main-hero .slide-item .slide-mask {position: absolute; top: 0; left: 0; bottom: 0; right: 0; z-index: 1}
#main-hero .slick-slide .slide-caption {position:absolute; top: 0; left: 0; bottom: 0; right: 0; z-index:5}
#main-hero .slick-slide .slide-caption .caption-outer {display:table; width: 100%; height:100%}
#main-hero .slick-slide .slide-caption .caption-inner {display:table-cell; vertical-align:middle}
#main-hero .slick-slide .slide-caption span {display:block; font-size:20px; color:#fff; letter-spacing:2px; margin-bottom:5px}
#main-hero .slick-slide .slide-caption h2 {font-size:42px; font-weight:200; color:#fff; line-height:1.4}
#main-hero .slick-slide .slide-caption h2 strong {font-weight:normal}
#main-hero .slick-slide .slide-caption p {font-size:19px; color:#fff; line-height:1.6; margin-top:30px; opacity:0.8}
#main-hero .slick-slide .slide-caption a {margin-top:40px}
#main-hero .slick-dots {position:absolute; bottom:30px; left:0; right:0; text-align:center; z-index:5}
#main-hero .slick-dots li {display:inline-block; margin:0 8px}
#main-hero .slick-dots li button {display:block; text-indent:-9999em; padding:0; width:10px; height:10px; border:none; border-radius:50%; background-color:#fff; opacity:0.5; outline:0}
#main-hero .slick-dots li.slick-active button {background-color:#653811; opacity:0.8}
#main-hero .slick-arrow {position:absolute; top:50%; width:80px; height:100px; font-size:36px; color:#fff; margin-top:-50px; padding:0; border:none; background-color:rgba(0,0,0,0.5); opacity:0; z-index:5; transition:opacity 0.3s, background-color 0.3s; outline:0}
#main-hero .slick-arrow i {transition:transform 0.3s ease}
#main-hero .slick-prev {left:0}
#main-hero .slick-next {right:0}
#main-hero:hover .slick-arrow {opacity:1}
#main-hero .slick-arrow:hover {background-color:rgba(0,0,0,0.75)}
#main-hero .slick-prev:hover i {transform:translateX(-6px)}
#main-hero .slick-next:hover i {transform:translateX(6px)}

/* ------------------------------
 * media queries
------------------------------ */
@media (max-width:767px) {
    #main-hero .slick-slide .slide-caption span {font-size:16px}
    #main-hero .slick-slide .slide-caption h2 {font-size:28px}
    #main-hero .slick-slide .slide-caption p {font-size:14px}
    #main-hero .slick-slide .slide-caption p br {display:none}
    #main-hero .slick-arrow {top:auto; bottom:0; width:50px; height:50px; font-size:20px; color:#000 !important; background-color:#fff !important; opacity:1}
    #main-hero .slick-arrow i {transform:none !important}
    #main-hero .slick-prev {left:auto; right:50px}
    #main-hero .slick-next:before {content:''; position:absolute; top:50%; left:-1px; width:1px; height:24px; margin-top:-12px; background-color:#e9e9e9}
}