@charset "utf-8";
/*reset.css*/    

html,body{width: 100%; height: 100%; font-family: 'NanumSquare',sans-serif; color:#333; font-weight:400;}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,strong,sub,sup,var,dl,dt,dd,ol,ul,li, fieldset,form,label,legend,table,caption,tbody,tfoot,
small,b,i,article,aside,canvas,derails,figcaption,figure,footer,header,menu,nav,section,time,mark,audio,video{margin: 0; padding: 0;}

table{border-collapse: collapse;}
img,fieldset{border: none;}

address,caption,cite,code,em,strong,th{font-style: normal; font-weight: normal;}
ol,ul{list-style: none;}
ol,ul:after{content:""; display:block; clear:both;}
ul li{padding:0; margin:0;}
cpation,th{text-align: left;}

h1,h2,h3,h4,h5,h6{font-weight: normal; font-size: 100%;}
q:after,q:before{content: "";}
abbr,acronym{border: none;}

img,input{vertical-align: middle;}
hr{display: none;}
#skipNavi, .blind{position: absolute; left: 0; top: 0; width: 0; height: 0; font-size: 0; line-height: 0; text-indent: -9999px; overflow: hidden; visibility: hidden;}

small,b,i,article,aside,canvas,derails,figcaption,figure,footer,header,menu,nav,section,time,mark,audio,video{margin: 0; padding: 0;}

article,aside,details,figcaption,figure,footer,header,menu,nav,section,video{display: block;}
            