td#board {padding:4 5 5 5;font-size:12px;font-family:굴림,돋움;color:#333333;}
.board {padding:4 5 5 5;font-size:12px;font-family:굴림,돋움;color:#333333;}
.board a:link{padding:0 0 0 0;font-size:12px;font-family:굴림,돋움;color:#000000;text-decoration:none;}
.board a:visited{padding:0 0 0 0;font-size:12px;font-family:굴림,돋움;color:#000000;text-decoration:none;}
.board a:hover{padding:0 0 0 0;font-size:12px;font-family:굴림,돋움;color:#000000;text-decoration:underline;}
.board a:active{padding:0 0 0 0;font-size:12px;font-family:굴림,돋움;color:#000000;text-decoration:none;}
/*게시판 제목*/
.bbsnewf5 {padding:10 10 10 10;font-size:12px;font-family:굴림,돋움;color:#333333;}
.bbsnewf5 a:link{color:#555555;text-decoration:none}
.bbsnewf5 a:visited{color:#555555;text-decoration:none}
.bbsnewf5 a:hover{color:#FF5500;text-decoration:none}
/*제목*/
.bbsbody03{width:340px;overflow:hidden;text-overflow:ellipsis;padding-left:5;padding-right:5}
/*뉴스_보도자료 제목*/
.news_title {color:#0E3D72;font-size:14px;letter-spacing:-1;text-decoration:none;}
.news_title a:link{color:#0E3D72;font-size:14px;letter-spacing:-1;text-decoration:none}
.news_title a:visited{color:#0E3D72;font-size:14px;letter-spacing:-1;text-decoration:none}
.news_title a:hover{color:#0E3D72;font-size:14px;letter-spacing:-1;text-decoration:underline}
/*뉴스_보도자료 내용*/
.news_cont {color:#555555;text-decoration:none}
.news_cont a:link{color:#555555;text-decoration:none}
.news_cont a:visited{color:#555555;text-decoration:none}
.news_cont a:hover{color:#FF5500;text-decoration:none}
/*갤러리 제목*/
.gallery_title {font-size:12px;font-family:굴림,돋움;color:#666666;}
/*갤러리 내용*/
.gallery_cont {font-size:12px;font-family:굴림,돋움;color:#666666}
/*페이징*/
.paging {font-size:12px;font-family:굴림,돋움;color:#FF5500;font-weight:bold;}
.paging a:link{font-size:12px;font-family:굴림,돋움;color:#555555;font-weight:normal;text-decoration:none}
.paging a:visited{font-size:12px;font-family:굴림,돋움;color:#555555;font-weight:normal;text-decoration:none}
.paging a:hover{font-size:12px;font-family:굴림,돋움;color:#555555;font-weight:normal;text-decoration:underline}
/*검색폰트(셀렉트박스)*/
.search_txt {font-size:12px;font-fa7mily:굴림,돋움;color:#666666}
/*기본폰트*/
.board_txt {font-size:12px;color:#000000;text-decoration:none;padding-top:4;}
.board_txt a:link{font-size:12px;color:#000000;text-decoration:none;}
.board_txt a:visited{font-size:12px;color:#000000;text-decoration:none;}
.board_txt a:hover{font-size:12px;color:#000000;text-decoration:none;}
.board_txt2 {font-size:12px;color:#333333;text-decoration:none;padding-top:4;}
.board_txt2 a:link{font-size:12px;color:#333333;text-decoration:none;}
.board_txt2 a:visited{font-size:12px;color:#333333;text-decoration:none;}
.board_txt2 a:hover{font-size:12px;color:#333333;text-decoration:none;}
input#border {font-size:12px;font-family:굴림,돋움;color:##666666;border:1 solid #D4D4D4}
textarea#border {font-size:12px;font-family:굴림,돋움;color:##666666;border:1 solid #D4D4D4}
/* bgcolor : 게시판 항목 */
.board_bgcolor {width:100px;background-color:#F7F7F7;font-size:12px;font-family:굴림,돋움;color:#000000;}
.board_rate {padding:0 0 0 0;font-size:12px;font-family:굴림,돋움;color:#333333;background-color:#E6F0F9;}
.board_rate_td {padding:4 5 5 5;font-size:12px;font-family:굴림,돋움;color:#333333;background-color:#FFFFFF}
.board_comment_bgcolor {background-color:#F6F6F6;}
/* 추출 게시판 스타일 */
.board_output {padding:4 0 0 0;font-size:12px;font-family:굴림,돋움;color:#333333;}
.board_output a:link{padding:0 0 0 0;font-size:12px;font-family:굴림,돋움;color:#333333;text-decoration:none;}
.board_output a:visited{padding:0 0 0 0;font-size:12px;font-family:굴림,돋움;color:#333333;text-decoration:none;}
.board_output a:hover{padding:0 0 0 0;font-size:12px;font-family:굴림,돋움;color:#333333;text-decoration:underline;}
.board_output a:active{padding:0 0 0 0;font-size:12px;font-family:굴림,돋움;color:#333333;text-decoration:none;}
/*댓글폰트*/
.comment_name {font-size:12px;color:#0055B5;text-decoration:none;padding-top:4px;}
.comment_txt {font-size:12px;color::#000;text-decoration:none;padding-top:4px;}
.comment_txt a:link{font-size:12px;color::#000000;text-decoration:none;}
.comment_txt a:visited{font-size:12px;color::#000000;text-decoration:none;}
.comment_txt a:hover{font-size:12px;color::#000000;text-decoration:none;}
/* 웹진형 게시판 (세로배열)*/
.webzine_type2 {width:100%;}
.webzine_type2 td { color:#666666; font-family:돋움; font-size:12px; }
.webzine_type2 dl, #webzine_type2 dt, #webzine_type2 dd {margin:0;padding:0}
.webzine_type2 dl {float:left;clear:both;width:100%;padding:0 0 16px 0;margin-bottom:0;}
.webzine_type2 .webzine_type_img_td { vertical-align:top;}
.webzine_type2 .webzine_type_img img {border:4px solid #cc3232; }
.webzine_type2 .webzine_type2_table_line { width:100%; border-top:1px solid #cccccc;}
.webzine_type2 dd {float:left;width:100%;height:25px;padding:3px 0 1px 0;margin:0 0 -1px 0;border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;}
.webzine_type2 .obj_name {display:inline-block;width:90px;height:25px;padding:5px 0 0 12px;color:#666666;background:url(/cimg/board/cafe24_webzine/bl_webzine_type2_title.gif) right 6px no-repeat;}
.webzine_type2 .obj_value {height:25px;padding:5px 0 0 10px;}
/* 이미지가 왼쪽일때 */
.webzine_type2 .webzine_type_text_td_left { width:100%; padding:0 0 0 8px; }
/* 이미지가 오른쪽일때 */
.webzine_type2 .webzine_type_text_td_right { width:100%; padding:0 9px 0 0; }
/* 갤러리형 추출 제목, 내용 정렬 */
.board_output_gallery_subject { text-align:center;width:100%; }
.board_output_gallery_description { text-align:center;width:100%; }
/* 게시판 기본테이블 */
.table_02 { width:100%; border-top:2px #4fb3d2 solid; border-bottom:1px #4fb3d2 solid; border-left:1px #e5e5e5 solid; }
.table_02 td { border-bottom:1px #e5e5e5 solid; border-right:1px #e5e5e5 solid; padding:4px; }