@charset "EUC-KR";

/* popup */
.popup-bg{
    position: fixed; top: 0; left: 0;
    background-color: rgba(0,0,0,0.3);
    width: 100%; height: 100%;
    z-index: 3;
    display: none;
}
.popup{width: 85%; background-color: #fff; border-radius: 10px; padding: 20px 15px; text-align: center; z-index: 5;}
.popup > h4{font-size: 16px; font-weight: 600; margin: 10px 0 25px;}
.popup > h4 > span{color: #40AF26; font-size: 18px; font-weight: bold; margin-bottom: 3px; display: inline-block;}
.nickname-text-field{
    width: 70%; height: 50px; 
    line-height: 50px; padding: 10px; 
    display: inline-block;
    border-radius: 10px; border: 1px solid #cecece;
    margin-bottom: 5px;
}

.popup{width: 85%; background-color: #fff; border-radius: 10px; padding: 20px 15px; text-align: center; }

.popup-bg{display:none;}


.tab-bar{
	width: 500px;
	margin: 0 auto;
}

ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul.tabs li{
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}

ul.tabs li.current{
	background: #ededed;
	color: #222;
}

.tab-content{
	display: none;
	background: #ededed;
	padding: 15px;
}

.tab-content.current{
	display: inherit;
}
